<meta charset="utf-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>TryCatch</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<!-- web font -->
<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">

<!-- my css -->
<link rel="stylesheet" href="/css/master.css">

<style>
    body {
        padding-top: 5rem;
    }
</style>

<% include nav.ejs %>
