<% include partials/layout1.ejs %>
<div class="container">

    <h1><%= message %></h1>
    <h2><%= error.status %></h2>

    <!--상세내용 비공개 -->
    <!--<%= error.stack %>-->

</div>
<% include partials/layout2.ejs %>